<!DOCTYPE html>
<html lang="en">
<head>

     <title>Councils</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <!-- Bootstrap CDN -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/owl.carousel.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/index.css">
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>
   
     <!-- FEATURE -->
     <section id="feature" style="padding-bottom:0%; padding-left: 4%;">
          <div class="container">

               <!-- Names of Student Bodies - Councils-->
               <div class="row">

                    <div class="col-md-3 col-sm-3">
                         <div class="">
                              <a href="#sort">
                                   <img src="images\council\sort-vesit.png" alt="sort" class="circle img-circle">
                                   <h2 class="body-name2" style="padding-left: 35px;">SORT</h2>
                              </a>
                         </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="">
                         <a href="#cult">
                              <img src="images\council\cult-vesit.png" alt="cult" class="circle img-circle">
                              <h2 class="body-name2" style="padding-right: 30px;">CULTURAL</h2>
                         </a>
                        </div>
                   </div>

                   <div class="col-md-3 col-sm-3">
                        <div class="">
                         <a href="#music">
                              <img src="images\council\music-vesit.png" alt="music" class="circle img-circle">
                              <h2 class="body-name2" style="padding-left: 30px;">MUSIC</h2>
                         </a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="">
                             <a href="#sports">
                              <img src="images\council\sports-vesit.png" alt="sports" class="circle img-circle">
                              <h2 class="body-name2" style="padding-left: 20px;">SPORTS</h2>
                             </a>
                        </div>
                   </div>
               </div>
          </div>
     </section>

     <!-- Courses -->
     <section id="courses">
          <div class="container">

               <!-- SORT -->
               <section id="sort">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>SORT COUNCIL</h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-courses">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/sort-1.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 12 / 5 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 2 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Changing our Habits</a></h3>
                                                  <p>A mental health webinar.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/sort-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/sort-2.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 20 / 5 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 4 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">U&I Event</a></h3>
                                                  <p>Learn how to make a difference.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/sort-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/sort-8.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 15 / 4 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 6 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Code for Change</a></h3>
                                                  <p>Hackathon to create websites for NGOs.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/sort-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/sort-4.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 10 / 4 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 8 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Blood Donation Camp</a></h3>
                                                  <p>An event for students to donate blood.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/sort-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/sort-5.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 5 / 10 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 10 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Lighting up the dark lives</a></h3>
                                                  <p>A fundraiser for child education.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/sort-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                         </div>

               </div>
               </section>


















               <!-- CULTURAL -->
               <section id="cult">
               <div class="row" style="padding-top: 60px;"> 

                    <div class="col-md-12 col-sm-12" >
                         <div class="section-title">
                              <h2>CULTURAL COUNCIL</h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-courses">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/cult-1.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 12 / 5 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 2 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Personality</a></h3>
                                                  <p>Compete for the title of Mr/Ms VESIT.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/cult-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/cult-2.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 20 / 5 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 4 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Mandala Making</a></h3>
                                                  <p>An art competion, to design mandals.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/cult-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/cult-3.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 15 / 4 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 6 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Cultratri</a></h3>
                                                  <p>Online DJ and Navratri celebration.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/cult-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/cult-4.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 10 / 4 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 8 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Prarambh</a></h3>
                                                  <p>An online freshers event.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/cult-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/cult-5.PNG" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 5 / 10 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 10 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">VDC Workshop</a></h3>
                                                  <p>Online dance class by VESIT Dance Crew.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/cult-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                         </div>

               </div>
          </section>

























               <!-- MUSIC -->

               <section id="music">
               <div class="row" style="padding-top: 60px;">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>MUSIC COUNCIL</h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-courses">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/music-1.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 12 / 5 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 2 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Voice of VESIT</a></h3>
                                                  <p>An event to find the best singer in VESIT.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/music-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/music-2.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 20 / 5 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 4 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Musical Flashmob</a></h3>
                                                  <p>A flashmob conducted in amphitheatre.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/music-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/music-3.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 15 / 4 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 6 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Ek Main Aur Ek Tu</a></h3>
                                                  <p>Virtual Duo Singing Competion.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/music-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/music-6.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 10 / 4 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 8 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Instrumental Faceoff</a></h3>
                                                  <p>Virtual competion between guitarists.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/music-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/music-5.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 5 / 10 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 10 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Antakshari</a></h3>
                                                  <p>A competion for the game of Antakshari.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/music-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                         </div>
               </div>
          </section>










































               <!-- SPORTS -->
               <section id="sports">
               <div class="row" style="padding-top: 60px;">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>SPORTS COUNCIL</h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-courses">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/sports-1.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 12 / 5 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 2 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Urja Valorant Tournament</a></h3>
                                                  <p>Online valorant tournament.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/sports-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/sports-2.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 20 / 5 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 4 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Online Fitness Session</a></h3>
                                                  <p>Fitness Session by Jasraj Chohan.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/sports-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/sports-3.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 15 / 4 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 6 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Outdoor Sphurti</a></h3>
                                                  <p>A series of outdoor sporting events.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/sports-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/sports-4.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 10 / 4 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 8 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Indoor Sphurti</a></h3>
                                                  <p>A series of indoor sports events.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/sports-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="images/council/sports-5.jpeg" class="card-image img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 5 / 10 / 2021</span>
                                                       <span><i class="fa fa-clock-o"></i> 10 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Did You Know?</a></h3>
                                                  <p>An online sports quiz.</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="images/council/sports-vesit.png" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Register</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                         </div>

               </div>
          </section>


          </div>
     </section>



     

     <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Headquarter</h2>
                              </div>
                              <address>
                                   <p>1800 dapibus a tortor pretium,<br> Integer nisl dui, ABC 12000</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>

                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2019 Company Name</p>
                                   
                                   <p>Design: TemplateMo</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>+65 2244 1100, +66 1800 1100</p>
                                   <p><a href="mailto:youremail.co">hello@youremail.co</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>Quick Links</h2>
                                   <ul>
                                        <li><a href="#">Career</a></li>
                                        <li><a href="#">Investor</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Refund Policy</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Newsletter Signup</h2>
                              </div>
                              <div>
                                   <div class="form-group">
                                        <form action="#" method="get">
                                             <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required="">
                                             <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                        </form>
                                        <span><sup>*</sup> Please note - we do not spam your email.</span>
                                   </div>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>

</body>
</html>