<!DOCTYPE html>
<html>
<head>
<title>Profile</title>
<!-- bootstrap scripts -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- Css stylesheets -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="css/index.css">


<!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu&display=swap" rel="stylesheet">
	
</head>
<body>
<!-- Nav Bar -->



<!-- End of Navbar -->

<!-- start of user page -->
<div class="container-fluid text-left" style="padding-left:100px;">
    <div class="row">
        <div class="col-sm-12 col-md-6 d-flex justify-content-center">
                <div class="card bg-transparent img-wrapper" style="width: 25rem;">
                    <img src="https://images.unsplash.com/photo-1526976668912-1a811878dd37?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="..." style=" height:18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Events registered at </i></h5>
                    </div>
                    <ul class="list-group list-group-flush">			
                                    <li class="list-group-item">Event Name (Council/Society)</li>							
                    </ul>
                    <div class="card-footer">Total events: 
                    </div>
                </div>
        </div>
        <div class="col-sm-12 col-md-6 d-flex justify-content-center">
            <div class="card bg-transparent img-wrapper" style="width: 25rem;">
                <img src="https://images.unsplash.com/photo-1560523159-fbe43c0b465f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fHRlYWNoZXIlMjB0ZWFjaGluZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" class="card-img-top" alt="..." style=" height:18rem;">
                <div class="card-body">
                    <h5 class="card-title">Institute level events </i></h5>
                </div>
                <ul class="list-group list-group-flush">		
                                    <li class="list-group-item">Event Name (Department Name)</li>							

                </ul>
                <div class="card-footer"> Total events:  

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->

<!-- End of Footer -->
<!-- JS Scripts -->
<script type="text/javascript" src="project.js"></script>

</body>
</html>

